body, html {
    height: 100%;
    margin: 0;
}

.image {
    z-index: -1;
    background-image: url('astronaut.webp');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2; 
}

#info-box {
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 3; 
}

.interactive-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}

.interactive-dot {
    cursor: pointer;
    transition: fill 0.2s ease-in-out;
}

.interactive-dot:hover {
    fill: blue;
}

.icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon a {
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 100;
}

.header2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 120px;
}

.header2 a {
    font-size: 40px;
    padding: 0.25em;
}
