body, html {
    height: 100%;
    margin: 0;
    overflow: none;
  }
  
  .image {
    z-index: -1;
    background-image: url('3.jpg'); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }
  
  .icon a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 100;
  }
  
  .icon   {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .header2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 120px;
  }
  
  .header{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .main{
    display: flex;
    
    justify-content: space-between;
  }
  
  
  
  .box{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #ffffff;
    border-radius: 12px;
    padding: 30px 40px;
    
  }
  .box h1{
    font-size: 36px;
    text-align: center;
    
  }
  .box form{
    width: 100%;
  }
  .box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 12% 0;
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding:10px 0px 10px 10px;
    margin-right: 20px;
  }
  .input-box input::placeholder{
    color: #fff;
  }
  .input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  
  }
  .box{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 20px -15px;
  }
  .box .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
  }

